
@font-face {
    font-family: "AdobeClean";
    src: url("../fonts/AdobeClean-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AdobeCleanExBold";
    src: url("../fonts/AdobeClean-ExtraBold.otf");
    font-weight: bolder;
    font-style: normal;
}


 

